:root
{
    --color-primary: #6633EB;
    --color-green: #46D39A;
    --color-red: #FF4848;
}

@font-face {
    font-family: 'PublicaSans';
    src: url('./fonts/PublicaSansRound-Rg.otf');
}
@font-face {
    font-family: 'PublicaSansMedium';
    src: url('./fonts/PublicaSansRound-Md.otf');
}
@font-face {
    font-family: 'PublicaSansBold';
    src: url('./fonts/PublicaSansRound-Bd.otf');
}
html
{
    font-size: 16px;
}

h1,
h2,
h3,
h4
{
    font-family: 'PublicaSans';
}
/* .button, */
p
{
    font-family: 'Lato';
}
.w-100
{
    width: 100%;
}
/* button */
.button
{
    font-family: 'PublicaSansMedium';
    border-radius: 10px;
}
.columns
{
    margin-top: 0;
}
.is-fullheight
{
    height: 100%;
}

.title,
.subtitle
{
    font-family: 'PublicaSans';
}

.container__relative
{
    position: relative;
    height: 100%;
    z-index: 2;
    height: 100%;
    /* background-color: red; */
    /* border: 1px solid; */
}
