:root
{
    --color-primary: #6633EB;
    --color-green: #46D39A;
    --color-red: #FF4848;
}

@font-face {
    font-family: 'PublicaSans';
    src: url('./fonts/PublicaSansRound-Rg.otf');
    font-display: swap;
}
@font-face {
    font-family: 'PublicaSansMedium';
    src: url('./fonts/PublicaSansRound-Md.otf');
    font-display: swap;
}
@font-face {
    font-family: 'PublicaSansBold';
    src: url('./fonts/PublicaSansRound-Bd.otf');
    font-display: swap;
}

html
{
    font-size: 16px;
}

h1,
h2,
h3,
h4,
.label
{
    font-family: 'PublicaSans';
}

#__next
{
    position: relative;
}
p,
a,
.input
{
    font-family: 'Lato';
}
.my-6
{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.mb-6
{
    margin-bottom: 2rem !important;
}
.mt-6
{
    margin-top: 2rem !important;
}

.w-100
{
    width: 100%;
}
/* button */
.button
{
    font-family: 'PublicaSansMedium';
    border-radius: 7px;
}
.columns
{
    margin-top: 0;
}
.is-fullheight
{
    height: 100%;
}

.title,
.subtitle
{
    font-family: 'PublicaSans';
}

.container__relative
{
    position: relative;
    height: 100%;
    z-index: 2;
    height: 100%;
    /* background-color: red; */
    /* border: 1px solid; */
}

@media screen and (max-width: 1024px) {
    html
    {
        font-size: 10px;
    }
    .grid__tecnologies--mobile
    {
        display: grid;
        grid-template-columns: repeat( 2 ,1fr );
    }
    .grid__tecnologies--mobile > div:last-child
    {
        grid-column-start: 1;
        grid-column-end: 3;
        display: inherit;
        place-items: center;
    }
    .container
    {
        width: 100%;
        max-width: 85%;
    }
}

@media screen and (max-width: 480px) {
    .container
    {
        width: 100%;
        max-width: 85%;
    }
}